body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100%;

}
.nav{
    background-color:#1b258b;
    display: block;
    top: 0px;
    left: 0px;
    right:0px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: auto;;
    position: fixed;
    overflow:hidden;
}
.logo{
    text-decoration: none;
    border: 1.3vw solid #F2FEF3;
    display: inline-block;
    border-radius: 15vw;
    padding: 1.7vw;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-left: 13px;
}
.hero{
    background: url(../css/c.jpg);
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    text-align: center;
}
.gif{
    background: url(../verify/m.gif) no-repeat;
    max-width: 100%;
    height: 500px;
    object-fit: contain;
    margin-left: -54px;
}

.text{
    float: right;
    margin-top: 300px;
    margin-left: 100px;
    color: rgb(210, 202, 243);
    text-align: center;
    background: rgb(48,210,185);
    background: linear-gradient(7deg, rgba(48,210,185,1) 22%, rgba(101,152,170,1) 81%);
    border: none;
    border-radius: 30px;
    padding: 0px 10px;
}
.text p{
    font-size: 20px;


}